

<div class="dashboard">
  <div class="divbody">
    <p class="textHeader">
      Weather application
    </p>
    


    <div class="cardList">
      <div *ngFor="let value of values; let i = index" class="card">
        <div>
          <mat-form-field class="example-form-field">
            <mat-label>City </mat-label>
            <input matInput type="text" [(ngModel)]="value.value"  name="value{{i}}">
            <button mat-button *ngIf="value.value" matSuffix mat-icon-button aria-label="Clear" (click)="value.value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
            
          <button mat-raised-button color="primary"  (click)="getData(i)">
            <mat-icon>done</mat-icon>
          </button>
          <button mat-raised-button color="primary" (click)="removevalue(i)">
            <mat-icon >delete</mat-icon>
          </button> 
          <div class="divInfo" *ngIf="chekHaveresult(i)">
            <div class="info">
              <span>
                City : {{this.WeatherDataList[i].name}}<br>
  
                Temperatura : {{this.WeatherDataList[i].main.temp | number}}  &#8490; <br>
                Temperatura : {{this.WeatherDataList[i].main.temp - 271 | number}}   &#8451; <br>
              </span>
            </div>
            <div>
              <img src="{{this.WeatherDataList[i].weather[0].icon}}">
            </div>
  
          </div>
      
          <div *ngIf="!chekHaveresult(i)">
            <span>
              Not Data
            </span>
          </div>
      
        </div>
        <div>
          
        </div>
      
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="addvalue()">Add City</button>
  
  </div>
</div>

